html {
    /*    position: relative;*/
    height: 100vh;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

    html > body {
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        height: 90%;
        background-color: lightsteelblue;
    }

html > body > iframe {
    margin-top: 1%;
    margin-bottom: 1%;
}

html > body > img {
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

.two-column-list {
    display: flex;
    flex-wrap: wrap;
}

    .two-column-list li {
        width: 50%; /* Each item takes up half the width */
        /*  list-style: none;*/
    }

.split {
    flex: auto;
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /*    border: none;*/
    flex-direction: row;
}

.left, .right {
    flex: 1;
    display: flex;
    width: 50%;
    border: hidden;
}

.left { align-content: flex-start;}

.right { align-content: flex-end; }


.navbar {
    background-color: var(--navbar-bg-color); /* Navbar background */
}


.container {
    display: block;
    width: 100%;
}

.centerbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

    .centerbox > h2 {
        /*  flex: 1;*/
        text-align: center;
    }

    .centerbox > i {
        flex: 1;
        align-content: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

.buttonbox {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 5rem;
}

    .buttonbox .btn {
        flex: 1;
        background-color: indianred;
        border: hidden;
        width: fit-content;
        align-self: center;
        text-align: center;
    }

.navbar {
    display: block;
    padding-left: 2em;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0px;
/*    line-height: 60px;*/
    padding-left: 2em;
/*    background-color: whitesmoke;*/
}


.pagecontainer {
    display: flex;
    height: 90vh;
    flex-direction: column;
}



.timeline-table > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {
    min-width: 25%;
}

.timeline-table {
    width: 50%;
    table-layout: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

    .timeline-table tr {
        margin-top: 0px;
        border-bottom: dotted;
        border-color: azure;
        border-width: 1px;
    }

    .timeline-table th {
        padding: 5px;
        border-block: 3px solid;
        border-color: azure;
        font-weight: bold;
        text-align: center;
    }

    .timeline-table td {
        padding: 5px;
        text-align: center;
        position: relative;
    }

.timeline-span {
    padding: 5px;
    margin: 1px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.timeline-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.timeline-description {
    font-size: 0.85em;
    color: #666;
}



.top-container {
    display: flex;
    height: 10vh;
    -webkit-align-items: inherit;
    align-items: inherit;
}

    .top-container h2 {
        left: auto;
        right: auto;
    }

.bi-telephone,
.bi-pin-map,
.bi-envelope-at,
.bi-globe,
.bi-person,
.bi-activity {
    margin-inline: var(--custom-margin, 5%);
}

.bi-github,
.bi-linkedin,
.bi-twitter {
    color: black;
}


.icons {
    display: float;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
/*    justify-self: center;*/
    /*margin: 0 auto;*/
    margin-top: auto;
    margin-bottom: auto;


/*    position: absolute;
    bottom: 1vh;*/
    height: fit-content;
    gap: 5vw;
    width: 100%;
}

    .socials-container i, img {
        font-size: 2rem;
        max-width: 100%;
        max-height: 100%;
    }

.formbox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding-top: 1vh;
    width: 40%;
    margin-left: 2px;
    /*margin: 1vh;*/
}

.form-group {
    flex: 1;
    /* flex-direction: column;*/
    align-items: center;
    margin-bottom: 15px;
    width: 25%;
}

    .form-group label {
        min-width: 100px;
        flex: 0 0 120px;
        margin-left: 1%;
        text-align: left;
        margin-right: 10px;
    }

    .form-group input {
        flex: 1;
        display: inline;
        padding: 5px;
        background: transparent;
        text-align: left;
        width: 500px;
        border-style: unset;
        pointer-events: none;
        margin-left: auto;
        margin-right: auto;
    }

        .form-group input::placeholder {
            color: gray;
            font-style: italic;
            /* opacity: 0.5;*/
        }


.skill-container {
    width: 100%;
  /*  max-width: 500px;*/
    padding-top: 1vh;
    margin: 0px auto;
}

    .skill-container b {
        font-size: 1.25rem;
    }
    .skill-container li {
        margin-top: 1vh;
        /*font-weight: bold;*/
    }

.skill-label {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vh;
    margin-bottom: 0.3vh;
  /*  font-size: 16px;*/
    color: #333;
}

.progress-bar {
    width: 100%;
    background-color: dimgray;
    max-width: 500px;
    overflow: hidden;
    height: 1vh;
}

.progress {
    height: 100%;
    background-color: darkred;
    width: 0;
    /*    transition: width 0.5s ease;*/
}
