<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ignc.dev</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/css/site.css?time=@DateTime.Now.Ticks" asp-append-version="false" />
    <link rel="stylesheet" href="~/ignc.dev.styles.css" asp-append-version="false" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    
@*         <link rel="stylesheet" href="~/css/about.css" />
    <link rel="stylesheet" href="~/css/resume.css" />  *@
    

</head>

<body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ignc.dev</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav flex-grow-1 justify-content-evenly">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Resume">Resume</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    <div class="pagecontainer">
        @RenderBody()

        <footer class="border-top footer text-muted">
            &copy; 2025 - ignc.dev - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            <div class="socials-container">
                <a href="https://linkedin.com/in/swag"><i class="bi-linkedin" alt="linkedin"></i></a>
                <a href="mailto:ignc.dev@proton.me"><i class="bi-envelope" alt="email"></i></a>
                <a href="https://github.com/halftime"><i class="bi-github" alt="github"></i></a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="@Url.Content("~/Scripts/script.js")"> </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
