@{
    ViewData["Title"] = "Home Page";
}


<div class="centerbox">
    <h1 class="display-4">Welcome to my (draft) portfolio</h1>
</div>

<div class="buttonbox">
    <a class="btn btn-light btn-lg mx-2" href="/About">About</a>
    <a class="btn btn-light btn-lg mx-2" href="/Resume">Resume</a>
</div>

