@{
    ViewData["Title"] = "Home";
}


<div class="timeline-container">
    <div class="timeline-header">
        <h1>Welcome to my portfolio</h1>
        <i class="bi-stack" style="font-size: 2rem;"></i>
        </div>



<div class="centerbox">
    <a href="/Resume">
        <img src="./Media/lethimcook.png" style="object-fit: scale-down; max-height: 30vh; display: block; margin: 0 auto;" alt="meme lethimcook.png">
        <br>
        </a>
        <h3><p>Continue to see what's cooking!</p></h3>
    </div>
    </div>

@* <div class="buttonbox">
    <a class="btn btn-light btn-lg mx-2" href="/About">About</a>
    <a class="btn btn-light btn-lg mx-2" href="/Resume">Resume</a>
</div> *@

