@{
    ViewData["Title"] = "Resume";
}


<div class="split">
    <table class="timeline-table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2015-2020</td>
                <td>
                    <div class="timeline-title">AP College (Antwerp)</div>
                    <div class="timeline-description">EM/EE: Automation</div>
                </td>
            </tr>
            <tr>
                <td>2020</td>
                <td>
                    <div class="timeline-title">Beta AGV project <br> Gebroeders DOMS</div>
                    <div class="timeline-description">
                        <a href="https://youtu.be/egqywqRfbAw?si=jppTnieZ1xpPrp9F">
                            Python
                            script for live SiCK 2D-laser plotting
                        </a>
                    </div>
                    <div class="video-preview">
                        <iframe width="224" height="126" title="youtube video" src="https://www.youtube.com/embed/egqywqRfbAw"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2021-2022</td>
                <td>
                    <div class="timeline-title">Jr automation eng <br> Organon </div>
                    <div class="timeline-description">
                        [...]
                    </div>
                </td>
            </tr>


            <tr>
                <td>2022-2023</td>
                <td>
                    <div class="timeline-title">course .NET development (C#) <br> VDAB</div>
                    <div class="timeline-description">
                        <ul class="two-column-list">
                            <li>OOP concepts</li>
                            <li>ASP.NET Core</li>
                            <li>Entity Framework</li>
                            <li>SQL Server</li>
                            <li>HTML & CSS</li>
                            <li>JavaScript | Node.js</li>
                            <li>Git</li>
                            <li>SCRUM (webshop project with new team)</li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr>
                <td>2025-2030</td>
                <td>
                    <div class="timeline-title">
                        (your_company_placeholder)
                    </div>
                    <img src="./Media/lethimcook.png" style="object-fit: scale-down; max-height: 10vh;" alt="meme lethimcook.png" />
                </td>
            </tr>
            <tr>
                <td>2030</td>
                <td>
                    <div class="timeline-title" style="font-style: italic;">
                        WhErE Do yOu sEe yOuRsElF In 5 yEaRs?
                    </div>
                    <div class="timeline-description">
                        Right here, editing this description <i class="bi-emoji-grin"></i>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
